body{
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}
.header-top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
    font-weight: 300;
}
p{
    font-size: 20px;
    margin-bottom: 20px;
}
.flexabel{
    display:flex;
}
.div-width{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}
.div-width img{
    width: 90%;
}
.color-orenge{
    color: orange;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(to right, #FF9974,#FF694C);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
}
.resume-button{
    text-decoration: none;
    background-image: linear-gradient(to right, #FF9974,#FF694C);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
}
.dream-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 150px;
}
.exp-main-dev{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
.box-shadow{
    box-shadow: 1px 1px 40px #B9B9B9;
    border-radius: 10px;
    padding: 20px;
}
.full-stack{
    border-left: 7px solid #FF6347;
}
.baby-web{
    border-left: 7px solid #0000FF;
}
footer p{
    text-align: center;
}